.pokemonForm{
    max-width: 500px;
    min-width:400px;
}

#routerContainer{
    height:100%;
    width:100%
}
#flexContainer{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#formDiv{
    height:auto;
    width:fit-content;
    padding:20px;
    background: whitesmoke;
    opacity: .95;
    border-radius: 50px;
    max-width: 50%;

}
.container{
    height: 100%;
    background: url(https://wallpapercave.com/wp/wp2860892.jpg);
    background-size: cover;
}

#groupMemberList{
    white-space: nowrap;
    overflow: scroll;
    width:100%;
}

#groupMemberList::-webkit-scrollbar {
    display: none;
}

#groupMembersSelectList{
    visibility: hidden;
    height:0;
}

.groupMemberOption{
    height:0;
}