#routerContainer{
    display:block;
}


#homeContainer{
    height: 100%;
    background: url(https://cdn.wallpapersafari.com/34/89/82MW34.jpg);
    background-size: cover;

}
#profileMenu{
    background:white;
    opacity: 0.9;
}





#profileMenu img{
    object-fit:contain;
    width:100%;
    height:80%;
}

#bingoCardImage{
    height:70%;
    object-fit: contain;
}
#profileUserDetails{
    display: flex;
}
#profileImage{
    width: 50%;
    padding-top:10px;
}
#drawCards{
    width: 50%;
    text-align: center
}

#remainingCards{
    display:flex;
    justify-content: center;
    align-items: center;
}

#remainingCardsCounter{
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    background: gold;
    border: 3px solid blue;
    border-radius: 10px;
    color: blue;
}

@media screen and (min-width:576px) {
    .profilePaths{
        width: 100%;
        float:left
    }

}



/* Large devices (desktops, 992px and up) */
@media screen and (min-width:768px) {
    .profilePaths{
        width: 50%;
        float:left
    }
}

#userCardStats{
    width: fit-content;
    margin: 0 auto;
    background: #00bcd4;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.9;

}


